# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv/
venv/
env/
pyvenv.cfg
venv311/
*.ipynb

# --- Airflow ---
# Airflow logs and local database
logs/
airflow.db
unittests.cfg
webserver_config.py

# Airflow configuration files generated at runtime
airflow.cfg
airflow-webserver.pid

# DAGs compiled cache
dags/__pycache__/
etl/__pycache__/
utils/__pycache__/

# --- Docker ---
# Docker volumes & temp files
*.pid
*.log
tmp/
*.sock
.docker/

# --- BigQuery / GCP Credentials ---
# NEVER push your Google Cloud service account key
*.json
*.p12
credentials/
gcp_keys/
service_account.json

# --- Jupyter / Notebooks---
.ipynb_checkpoints/
*.ipynb

# --- OS / IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

/Lib
/Include
/minio-data
package/